*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

#titulo{
    font-family: Tako-Semibold;
    font-size: 5vh;
    padding-top: 5px;
}

#barradonome {
    position: relative;
    background-color: blue;
    display: flex;
    align-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    border-bottom: 5px solid #252B48;
    
}

#barradotexto{
    position: relative;
    background-color: beige;
    display: flex;
    height: 20vh;
    margin-left: 30%;
    margin-right: 30%;  
    list-style: none;  
    justify-content: center;
    padding-top: 50px;
    
}

#barramenu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #245edb;
    padding: 2px;
    width: 2000px;
    border-top:  5px solid  #2869f5;
 
 }
 
 #menu {
     display: flex;
     bottom: 0;
     left: 0;
     color: aliceblue;
     background-color: #258b26;
     padding: 8px;
     border-radius: 0px 5px 0px 0px;
     width:60px;
     font-family: Roboto-italic;
     text-decoration: none;
 }